<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-test-camera-iooota" version="0.2.7">
	<name>test camera</name>
	<description>A Cordova plugin for querying web socket on Android devices.</description>
	<license>Apache 2.0</license>
	<keywords>cordova,device,content,provider,contentprovider,android</keywords>
	<js-module src="www/TestCameraPlugin.js" name="TestCameraPlugin">
		<clobbers target="contentproviderplugin" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TestCameraPlugin">
				<param name="android-package" value="cordova.plugins.testCamera" />
			</feature>
		</config-file>
		<source-file src="src/android/com/iooota/cordovaplugin/TestCameraPlugin.java" target-dir="src/com/iooota/cordovaplugin" />
	</platform>
</plugin>
